<!DOCTYPE html>
<html lang="en" >

<head>

  <meta charset="UTF-8">

	<meta name="apple-mobile-web-app-title" content="Tweets">

  	<title>Trump similar tweets</title>
  	<link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:300,400,500,600" rel="stylesheet">

  	<link rel='stylesheet' href='https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css'>
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">

  <script>
  		window.console = window.console || function(t) {};
  </script>



  <script>
	  if (document.location.search.match(/type=embed/gi)) {
		window.parent.postMessage("resize", "*");
	  }
  </script>

</head>

<body translate="no" >
  <main>
	<div class="container">
		<h1>Trump similar tweets</h1>
		<h2>Try our new analyzer !</h2>
		<div class="search-box">
			<div class="search-icon"><i class="fa fa-search search-icon"></i></div>
			<form class="search-form" method="POST" action="/predict">
				<input id="search" placeholder="Search" autocomplete="off" name="message_user" >
			</form>
			<svg class="search-border" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" viewBox="0 0 671 111" style="enable-background:new 0 0 671 111;"
			 xml:space="preserve">
          <path class="border" d="M335.5,108.5h-280c-29.3,0-53-23.7-53-53v0c0-29.3,23.7-53,53-53h280"/>
          <path class="border" d="M335.5,108.5h280c29.3,0,53-23.7,53-53v0c0-29.3-23.7-53-53-53h-280"/>
        </svg>
			<div class="go-icon"><i class="fa fa-arrow-right"></i></div>
		</div>
            {{ error }}
	</div>
</main>
  <script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-157cd5b220a5c80d4ff8e0e70ac069bffd87a61252088146915e8726e5d9f147.js"></script>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
  <script id="rendered-js" >
	$(document).ready(function () {
	  $("#search").focus(function () {
		$(".search-box").addClass("border-searching");
		$(".search-icon").addClass("si-rotate");
	  });
	  $("#search").blur(function () {
		$(".search-box").removeClass("border-searching");
		$(".search-icon").removeClass("si-rotate");
	  });
	  $("#search").keyup(function () {
		if ($(this).val().length > 0) {
		  $(".go-icon").addClass("go-in");
		} else
		{
		  $(".go-icon").removeClass("go-in");
		}
	  });
	  $(".go-icon").click(function () {
		$(".search-form").submit();
	  });
	});
  </script>

</body>

</html>

